* {
  /* text-align: center; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}

.input {
    height: 300px;
    width: 600px;
    background-color: red;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#title {
  height: 50px;
  width: 400px;
  font-size: 18px;
  padding-left: 30px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 1px solid;
}
#titleDescription {
  height: 100px;
  width: 400px;
  font-size: 18px;
  padding-left: 30px;
  color: #333;
  margin-bottom: 10px;
  border: 1px solid;
}

.saveButton
{
    background-color: #5677B4;
    height: 40px;
    width: 80px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 1100px;
    margin-top: 50px;
}

.cancelButton{
    background-color: #5677B4;
    height: 40px;
    width: 80px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}
